name: Build the cookbook

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          repository: compsoc-edinburgh/cookbook-boilerplate
          submodules: 'recursive'
          fetch-depth: 0
      
      - name: Update the cook-book data to latest
        run: |
          git submodule update --remote
      
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.6
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml requests Pillow
      
      - name: Parse recipes
        run: |
          python parse_content.py -i content_raw -o content/recipes
      
      - name: Generate thumbnails
        run: |
          python generate_thumbnails.py -i content/recipes -o content/recipes -serif fonts/PlayfairDisplay-Regular.ttf -sansserif fonts/Lato-Regular.ttf
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true
          
      - name: Build
        run: hugo

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cname: cookbook.betterinformatics.com
          publish_dir: ./public
